<!DOCTYPE html>
<html>
<head>
  <title>Pink Glamour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="container">
   <div id="header">
    <h1>Pink Glamour</h1>
     <h4>Hair & Beauty Emporium</h4>
     </div>
     <div id="nav">
      <h3>Navigation</h3>
      <ul>
      <li><%= link_to "HOME", root_path %></li>
       <li><%= link_to "PRICES", prices_path %></li>
       <li><%= link_to "BOOKING", booking_path %></li>
       <li><%= link_to "CONTACT", contact_path %></li>
       </ul>
       </div>
       <div id="content">
       <%= link_to "HAIR", hair_path %>
       <%= link_to "MAKE UP", makeup_path %>
       <%= link_to "SPA", spa_path %>
        <div id="main">
         <h2>Beauty Treatment</h2>
         <p>Welcome to the world of Dolly & Mop, the beauty emporium destination in Edinburgh. Visit us at our shop in Marchmont Crescent, we rather think you’ll like it here. We’ll make sure you feel right at home, come in for a chat and cup of tea and get ready for some serious relaxation. We’ll indulge you, pamper you and tickle your senses. Forget the stress of the day; come let us melt it away.</p>
        <%= yield %>
       </div>
      </div>
     <div id="footer">
    copyright &copy; 2015 ere
   </div>
  </div>
 </body>
</html>
